@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 70px;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s;
    background-color: rgb(103, 100, 100);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    border-radius: bottom 6px;
}

.title {
    position: relative;
    color: white;
    font-weight: bold;
    left: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.menu {
    display: flex; 
}

.menu ul {
    list-style: none;
    display: flex;
    margin: 25px;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.menu li {
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease-in-out;
}

.menu a::after {
    content: '';
    display: block;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.menu a:hover::after {
    transform: scaleX(1);
}

/* Styles for .menu-toggle and .hidden-menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
    z-index: 1000;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.3s;
}

.hidden-menu {
    display: none;
    position: absolute;
    top: 70px;
    background-color: transparent;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 0;
    right: 0;
    z-index: 1000;
}

.hidden-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

.hidden-menu li {
    margin: 20px 0;
    border-radius: 6px;
    background-color: rgb(103, 100, 100);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    min-width: 161px;
}

.hidden-menu a {
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
}

.overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9); 
    backdrop-filter: blur(10px); 
    z-index: 800; 
}

.hidden-menu.active + .overlay {
    display: block;
}


@media (max-width: 1022px) {
    .menu {
        display: none; 
    }

    .menu-toggle {
        display: flex; 
    }

    .hidden-menu.active {
        display: block; 
        width: 20vw;
        right: 0;
    }
}

/* General Section Styles */

section {
    min-height: 100vh;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* Hero page */
.hero {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.pagecontent {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.top {
    position: relative;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    top: 40%;
    transform: translateY(-50%);
}

.name {
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centers content vertically */
    text-align: center;
}

.name h1 {
    font-size: 5.5vw;
    margin-bottom: 0;
    -webkit-text-stroke: 1px #000;
    text-align: left;
    font-size: clamp(20px, 5vw, 8vw); /* min, ideal, and max font size */
    line-height: 1;
}

.name p {
    font-size: 1.5vw;
    color: #767676;
    text-align: left;
}

.name .socials {
    position: relative;
    height: 30%;
    width: 100%;
    display: flex;
    align-items: left;
    text-align: left;
}

.photo {
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.logo {
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    background-image: url('IMG_5805.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40% 80%;
    border: 2px solid rgb(103, 100, 100);
    position: relative;
    -webkit-animation: change 8s ease-in-out infinite;
    animation: change 8s ease-in-out infinite;
}

@-webkit-keyframes change {
    0% {
        border-radius:65% 45% 35% 75%/65% 35% 75% 45%;
    }

    50% {
        border-radius:35% 65% 75% 45%/55% 65% 35% 65%;
    }

    to {
        border-radius:65% 45% 35% 75%/65% 35% 75% 45%;
    }
}

@keyframes change {
    0% {
        border-radius:65% 45% 35% 75%/65% 35% 75% 45%;
    }

    50% {
        border-radius:35% 65% 75% 45%/55% 65% 35% 65%;
    }

    to {
        border-radius:65% 45% 35% 75%/65% 35% 75% 45%;
    }
}


.bottom {
    position: relative;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
}

.bio {
    display: none;
}

.socials2 {
    display: none;
}

@media (max-width: 768px) {
    .top {
        display: flex;
        flex-direction: column;
        top: 20%;
    }

    .name {
        width: 100%;
    }

    .name h1 {
        font-size: 9vw;
    }

    .name p {
        display: none;
    }

    .name .socials {
        display: none;
    }

    .photo {
        width: 100%;
        height: 50%;
    }

    .logo {
        position: relative;
        height: 120%;
        width: auto;
        aspect-ratio: 1 / 1;
    }

    .bio {
        position: relative;
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 3vw;
        color: #767676;
    }

    .socials2 {
        position: relative;
        height: 30%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .socials2 svg {
        height: 15px;
        width: 15px;
    }
}

/* About me */

.aboutme {
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.aboutcontent {
    position: relative;
    height: 70vh;
    width: 90%;
    border: none;
    display: flex;
    flex-direction: row;
    left: 50%;
    transform: translateX(-50%);
}

.left {
    position: relative;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.photo2 {
    position: relative;
    width: 80%;
    height: 100%;
    margin: auto;
    background-image: url('christopher-gower-m_HRfLhgABo-unsplash.jpg');
    background-size: cover;
    border-radius: 8px;
}

.right {
    position: relative;
    width: 40%;
    height: 100%;
    overflow: auto;
    text-align: left;
}

.right h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 2vw;
    color: #147efb;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    background-color: white; 
    z-index: 10; 
    padding: 10px; 

}

.right p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3vw;
    color: #767676;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .aboutme {
        flex-direction: column; 
        height: 100vh;
        box-sizing: border-box;
        justify-content: center;
    }

    .aboutcontent {
        flex-direction: column;
        left: 50%;
        transform: translate(-55%, 0%);
    }

    .left {
        display: none;
    }
    
    .right {
        float: none; 
        width: 100%; 
        height: 100%;
        box-sizing: border-box;
    }

    .photo2 {
        width: 100%; 
        height: 100%; 
        box-sizing: border-box;
    }

    .right {
        width: 100%; 
        text-align: left; 
    }

    .right h2, .right p {
        font-size: 1.2rem; 
        line-height: 1.5; 
    }

    .right h2 {
        position: -webkit-sticky; 
        position: sticky;
        top: 0;
        background-color: white; 
        z-index: 10; 
        padding: 10px; 
    }
}

/* Portfolio */

.projects {
    justify-content: center;
    text-align: center;
}

.projectset {
    position: relative;
    height: 70%;
    width: 100%;
    transform: translateY(20%);
}

.projectset h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 2vw;
    color: #147efb;
}

.expand-list {
    list-style-type: none;
    padding: 0;
}

.expand-list li {
    background-color: #cccccc;  
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    height: 50px;    
    width: 50%;           
    overflow: hidden;
    transition: height 0.3s ease, background-color 0.3s ease;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.expand-list li.expanded-li {
    height: 350px;
}

.unexpanded {
    display: block;
}

.expanded {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.expand-list li.expanded-li .unexpanded {
    display: none;
}

.expand-list li.expanded-li .expanded {
    display: flex;
    flex-direction: row;
    opacity: 1;
}

.expand-list li:hover {
    cursor: pointer;
    background-color: #e0e0e0; 
}

.video-background {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-background video {
    width: 100%;
    height: 300px;
    z-index: -1;
    object-fit: contain;
    margin: 5%;
}

.expanded p {
    font-size: 1.5vw; 
    width: 50%; 
    margin: 5%; 
    text-align: left;
}

@media (max-width: 768px) {
    .projectset h2 {
        font-size: 15px;
    }

    .expanded p {
        font-size: 2.7vw;
    }
}

@media (max-width: 330px) {
    .expand-list li.expanded-li {
        height: 250px;
    }
}

/* Contact Page styles */

.contact {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.btop {
    background-color: white;
    position: relative;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 15%;
}

.btop h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 2vw;
    color: #147efb;
}

.btop p {
    font-size: 1.5vw;
    color: #767676;
}

.btop .socialsetup {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 50%;
    transform: translateX(-45%);
}

.btop .rep {
    display: flex;
    flex-direction: row;
    margin: 2%;
}

.btop .rep svg {
    height: 50px;
    width: 50px;
}

.btop .rep p {
    font-size: 1.1vw;
    color: #767676;
    text-align: left;
    margin: 1%;
    padding-left: 5%;
    position: relative;
    width: 50%;
}

.bbottom {
    background-color: rgb(103, 100, 100); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-weight: bold;
    text-align: center;
    position: relative;
    height: 30%;
    width: 100%;
}

.bbottom svg {
    margin-bottom: 10px;
}

.bbottom p {
    margin: 5px 0;
}

@media (max-width: 768px) {
    .btop .socialsetup {
        flex-direction: column;
    }

    .btop h2 {
        font-size: 20px;
    }

    .btop p {
        font-size: 15px;
    }

    .btop .rep p {
        font-size: 10px;
    }
}






























